[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
  }
  
  .instagram:hover {
    background: linear-gradient(45deg, #f9ce39, #ee2a9b, #6228d9);
  }