<div class="container">
  <h1 nz-typography><strong>Instagram Reel Downloader</strong></h1>
  <p nz-typography>This tool allows you to download Instagram reels to your device.</p>
  <form class="link">
    <input nz-input class="inputURL" placeholder="Paste Instagram Reel here" nzSize="large" [value]="name"/>
    <button nzType="primary" class="paste" nz-button (click)="paste()">
      <span nz-icon nzType="snippets"></span>
      Paste
    </button>
  </form>
  <div class="button">
    <button nz-button class="instagram" nzSize='large' [nzLoading]="isLoading" >Download</button>
  </div>
</div>